<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var optmarvel = new Array("Todos", "Vengadores", "X-men","Otros");
        var optgot = new Array("Todos", "Lanister", "Targaryen", "El norte");
        var optstarwars = new Array("Todos", "Episodio 3", "El ultimo Jedi","El retorno del Jedi");

        function cambiar() {
            var categoria;
            categoria = document.frm.categoria[document.frm.categoria.selectedIndex].value;
            if (categoria != 0) {
                misOpts = eval("opt" + categoria);
                numOpts = misOpts.length;
                document.frm.subcategoria.length = numOpts;

                for (i = 0; i < numOpts; i++) {
                    document.frm.subcategoria.options[i].value = misOpts[i];
                    document.frm.subcategoria.options[i].text = misOpts[i];
                }
            }
            
        }


    </script>
    <style>
        .affix {
            top: 0px;
            width: 100%;
            z-index: 9999 !important;
        }

            .affix + .container-fluid {
                padding-top: 0px;
            }

        #footer {
            background-color: #00A2E8;
        }

        #tituloFooter {
            font-size: 20px;
            text-decoration-line: underline;
            text-decoration-color: yellow;
        }

        .imagenes {
            padding-top: 30px;
            text-align: center;
            padding-bottom: 30px;
        }

        footer {
            color: white;
            height: 250px;
            background-color: slategrey;
        }

        header {
            margin-top: 0px;
        }

        body {
            padding: 0px;
        }

        footer a {
            color: white;
            text-decoration: none;
        }
    </style>

</head>
<body>
    <div style="background-color:slategrey;">
        <a class="navbar-brand-flags" href="@Url.Action("Change", "Language" , new { LanguageAbbreviation="en" }, null)" style=" padding-left:10px;">
            <img src="~/Content/images/banderausa.jpg"  style="height:15px;"/> <span style=" color: white"><strong>@AppFunkoPop.Resources.Shared.ingles</strong></span>
        </a>
        <a class="navbar-brand-flags" href="@Url.Action("Change", "Language" , new { LanguageAbbreviation="es" }, null)"style=" padding-left:10px;">
            <img src="~/Content/images/banderaesp.jpg"  style="height:15px;"/> <span style=" color: white"><strong>@AppFunkoPop.Resources.Shared.español</strong></span>
        </a>
    </div>
    <div style="background-color: #00A2E8">
        <img src="~/Content/images/logo.png" class="img-responsive" style="width:200px;">
    </div>
    <div class="navbar navbar-inverse " data-spy="affix" data-offset-top="116">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("POP-Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(AppFunkoPop.Resources.Shared.inicio, "Index", "Home")</li>
                    <li>@Html.ActionLink(AppFunkoPop.Resources.Shared.catalogo, "Catalogo", "Catalogo")</li>
                    <li>@Html.ActionLink(AppFunkoPop.Resources.Shared.contacto, "Contacto", "Otros")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="">
        <div class="container-fluid">
            <div class="row">

                @Html.Partial("MenuLateral")
                <div class=" col-sm-9 ">
                    @RenderBody()
                </div>
            </div>
        </div>
        <hr />


    </div>
    <footer class="page-footer font-small blue pt-4">
        <div id="footer" class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mt-md-0 mt-3">
                    <h5 class="text-uppercase">@Html.ActionLink(AppFunkoPop.Resources.Shared.avisoLegal, "AvisoLegal", "Otros")</h5>
                    <p id="tituloFooter">@Html.ActionLink(AppFunkoPop.Resources.Shared.politicaPrivacidad, "PoliticaPrivacidad", "Otros")</p>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <form name="formularioContacto" action="mailto:mariameraf@gmail.com">
                    <h5 class="text-uppercase">@AppFunkoPop.Resources.Shared.contactanos</h5>                   
                    <input type="submit" value="Haznos una pregunta" class="btn btn-default"/>
                    </form>
                    <a href="tel:674328434">674328434</a>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <div class="col-lg-3">
                        <a href="https://es-es.facebook.com/FunkoPopESP/">Facebook </a><br />
                        <a href="https://twitter.com/funkopopesp?lang=es">Twiter </a><br />

                    </div>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <div class="col-lg-12">
                        <p id="tituloFooter">@AppFunkoPop.Resources.Shared.dondeEstamos</p>
                        <div>
                            <img src="~/Content/images/mapa.png" class="img-responsive" style="width:100%; margin-bottom:10px;" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3" style="background-color:slategrey;" color:white">
            © 2019 Copyright:
            <a href=""> PopShop- DAW2</a>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
