
@{
    if (Session["USUARIO_ID"] == null)
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink(@AppFunkoPop.Resources.Shared.registrarse, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink(@AppFunkoPop.Resources.Shared.iniciarSesion, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            <li>@Html.ActionLink(@AppFunkoPop.Resources.Shared.carrito, "InicioCarrito", "Carrito")</li>
        </ul>
    }
    else
    {
        if (Session["ID_ROL"].ToString() == "1")
        {
            <ul class="nav navbar-nav navbar-right">

                <li>@Html.ActionLink(@AppFunkoPop.Resources.Shared.hola+ " " + Session["NOMBRE"].ToString(), "PanelDeControlUsuarios", "Usuarios", routeValues: null, htmlAttributes: new { id = "perfilUsuario" })</li>
                <li>@Html.ActionLink(@AppFunkoPop.Resources.Shared.cerrarSesion, "CerrarSesion", "Account", routeValues: null, htmlAttributes: new { id = "cerrarsesion" })</li>

                <li>@Html.ActionLink(@AppFunkoPop.Resources.Shared.carrito, "InicioCarrito", "Carrito")</li>

            </ul>

        }
        else if (Session["ID_ROL"].ToString() == "2")
        {
            <ul class="nav navbar-nav navbar-right">

                <li>@Html.ActionLink(@AppFunkoPop.Resources.Shared.bienvenidoAdmin+" " + Session["NOMBRE"].ToString(), "PanelDeControlAdmin", "Admin", routeValues: null, htmlAttributes: new { id = "perfilAdmin" })</li>
                <li>@Html.ActionLink(@AppFunkoPop.Resources.Shared.cerrarSesion, "CerrarSesion", "Account", routeValues: null, htmlAttributes: new { id = "cerrarsesion" })</li>

 

            </ul>
        }



    }
}



