@model AppFunkoPop.Models.PRODUCTO
@{
    if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else
    {
        if (Session["ID_ROL"].ToString() != "2")
        {
            Response.Redirect("~/Home/Index");
        }
    }

    ViewBag.Title = "GestionProductos";
    List<AppFunkoPop.Models.PRODUCTO> listadoProductos = ViewBag.Productos;
}



<h2>@AppFunkoPop.Resources.Admin.listaProductos</h2>
<p>@AppFunkoPop.Resources.Admin.listadoPedidos</p>
@using (Html.BeginForm("EliminarProductos", "Admin", FormMethod.Post))
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @AppFunkoPop.Resources.Admin.idProducto

                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.nombre
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.precio
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.decripcion
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.categoria
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.subcategoria
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.unidadesDisp
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.idVendedor
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.imagen
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.otraImagen
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.borrar

                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.editar
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var unProducto in listadoProductos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.PRODUCTO_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.NOMBREP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.PRECIO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.DESCRIP)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.CATEGORIA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.SUBCATEGORIA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.UD_DISPO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.PROVEEDOR_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.IMAGEN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unProducto.IMAGEN2)
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="borrados" value="@unProducto.PRODUCTO_ID">

                        </div>

                    </td>
                    <td>
                        @Html.ActionLink(@AppFunkoPop.Resources.Admin.editar, "EditarProducto", new { id = unProducto.PRODUCTO_ID })
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary mb-2" style="color: white;" name="borrados">
        @AppFunkoPop.Resources.Admin.borrar
    </button>
    <br />
    <br />
    <p>@Html.ActionLink(@AppFunkoPop.Resources.Admin.añadirProducto, "NuevoProducto", "Producto")</p>
}