@model AppFunkoPop.Models.USUARIO
@{
    if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else
    {
        if (Session["ID_ROL"].ToString() != "2")
        {
            Response.Redirect("~/Home/Index");
        }
    }

    ViewBag.Title = "GestionUsuarios";
    List<AppFunkoPop.Models.USUARIO> listadoUsuarios = ViewBag.Usuarios;
}

<h2>Listado de Usuarios</h2>
<p>Listado de sus Usuarios:</p>
@using (Html.BeginForm("EliminarUsuarios", "Admin", FormMethod.Post))
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @AppFunkoPop.Resources.Admin.nombre
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.apellido
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.email
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.contrasena
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.telefono
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.direccion
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.ciudad
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.pais
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.rol
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.borrar
                </th>
                <th>
                    @AppFunkoPop.Resources.Admin.editar
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var unUsuario in listadoUsuarios)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => unUsuario.NOMBRE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unUsuario.APELLIDOS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unUsuario.EMAIL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unUsuario.PASSWD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unUsuario.TLFN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unUsuario.DIRECCION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unUsuario.CIUDAD)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unUsuario.PAIS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => unUsuario.ROL.NOMBRE_ROL)
                    </td>
                    <td>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck" name="borrados" value="@unUsuario.USUARIO_ID">
                        </div>

                    </td>
                    <td>
                        @Html.ActionLink(@AppFunkoPop.Resources.Admin.editar, "EditarUsuario", new { id = unUsuario.USUARIO_ID })
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary mb-2" style="color: white;" name="borrados">
        Confirmar borrado
    </button>
    <br />
}

