@model IEnumerable<AppFunkoPop.Models.PEDIDO>
    @{
    if (Session["ID_ROL"] == null)
    {
    Response.Redirect("~/Home/Index");
    }
    else
    {
    if (Session["ID_ROL"].ToString() != "2")
    {
    Response.Redirect("~/Home/Index");
    }
    }

    ViewBag.Title = "GestionPedidos";
    List<AppFunkoPop.Models.ESTADO_ENVIO>
        estados = ViewBag.listaEstados;
        }

        <h2>Listado de pedidos</h2>
        <p>Listado de pedidos pendientes de validar:</p>
        @using (Html.BeginForm("CambiarEstado", "Admin", FormMethod.Post))
        {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>IdPedido</th>
                    <th>IdUsuario</th>
                    <th>Precio</th>
                    <th>Informacion de pago</th>
                    <th>Estado</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var unPedido in Model)
                {
                using (Html.BeginForm("CambiarEstado", "Admin", FormMethod.Post))
                {

                @Html.Hidden("pedidoID", unPedido.PEDIDO_ID)
                <tr>
                    <td>@unPedido.PEDIDO_ID</td>
                    <td>@unPedido.USUARIO_ID</td>
                    <td>@unPedido.PRECIO_TOTAL</td>
                    <td>@unPedido.INFO_PAGO</td>
                    <td>


                        @*@Html.DropDownList("estadoId", (SelectList)ViewBag.listaEstados, new { onchange = "this.form.submit();" })*@


                        <select id="estadoId" name="estadoId" onchange="this.form.submit()">

                            @foreach (var estado in estados)
                            {
                            if (estado.ID_ESTADO == unPedido.ESTADO_ENVIO)
                            {
                            <option value=@estado.ID_ESTADO selected>@estado.TEXTO_ESTADO</option>
                            }
                            else
                            {
                            <option value=@estado.ID_ESTADO>@estado.TEXTO_ESTADO</option>
                            }
                            }

                        </select>
                    </td>

                </tr>
                }
                }


            </tbody>
        </table>



        }
