
@{
    if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else
    {
        if (Session["ID_ROL"].ToString() != "2")
        {
            Response.Redirect("~/Home/Index");
        }
    }

    ViewBag.Title = "PanelDeControlAdmin";
}

<h2>@AppFunkoPop.Resources.Admin.panelControlAdmin</h2>

<p> @AppFunkoPop.Resources.Admin.queQuieresHacer</p>

<ul class="">
    <p>@AppFunkoPop.Resources.Admin.gestionesAdmin</p>
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Admin.gestionPedidos, "GestionPedidos", "Admin")</li>
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Admin.gestionProductos, "GestionProductos", "Admin")</li>
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Admin.gestionProveedores, "GestionProveedores", "Admin")</li>
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Admin.gestionUsuarios, "GestionUsuarios", "Admin")</li>
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Admin.añadirProducto, "NuevoProducto", "Producto")</li>
    <br />
    <p> @AppFunkoPop.Resources.Admin.gestionarMisDatos</p>
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Admin.gestionarMisDatos, "GestionDatos", "Usuarios")</li>
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Admin.cambiarContrasena, "CambiarContraseña", "Usuarios")</li>

</ul>