
@{
    if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else
    {
        if (Session["ID_ROL"].ToString() != "2")
        {
            Response.Redirect("~/Home/Index");
        }
    }

    ViewBag.Title = "PanelDeControlAdmin";
}

<h2>Panel De Control Admin</h2>

<p> ¿Que quieres hacer?:</p>

<ul class="">
    <p>Gestiones de admin</p>
    <li>@Html.ActionLink("Gestion de Pedidos", "GestionPedidos", "Admin")</li>
    <li>@Html.ActionLink("Gestion de Productos", "GestionProductos", "Admin")</li>

    <li>@Html.ActionLink("Gestion de Usuarios", "GestionUsuarios", "Admin")</li>
    <li>@Html.ActionLink("Añadir nuevo producto", "NuevoProducto", "Producto")</li>
    <br />
    <p> Gestiones sobre el propio usuario:</p>
    <li>@Html.ActionLink("Gestionar mis datos", "GestionDatos", "Usuarios")</li>
    <li>@Html.ActionLink("Cambiar Contraseña", "CambiarContraseña", "Usuarios")</li>

</ul>