
@{
    ViewBag.Title = "MiPedido";
}

<h2>MiPedido</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>@AppFunkoPop.Resources.Pedidos.numPedido</th>
            <th>@AppFunkoPop.Resources.Pedidos.articulos</th>
            <th>@AppFunkoPop.Resources.Pedidos.precioTotal</th>
            <th>@AppFunkoPop.Resources.Pedidos.estado</th>

        </tr>
    </thead>
    <tbody>
       
        asd
            @*<tr>
                <td>@prod.PEDIDO_ID</td>
                <td>
                    @Html.ActionLink(@AppFunkoPop.Resources.Usuarios.VerPedidoUnico, "VerPedidoUnico", "Usuarios")
                    @foreach (var prod2 in prod.PEDIDOPRODUCTOes)
                        {
                        <a href="~/Producto/Productos/@prod2.PRODUCTO.PRODUCTO_ID">
                            <img src="~/Content/images/@prod2.PRODUCTO.CATEGORIA/@prod2.PRODUCTO.IMAGEN" width="100 px" />
                            @prod2.PRODUCTO.NOMBREP
                        </a>

                            <br />
                        }
                </td>
                <td>@prod.PRECIO_TOTAL</td>
                <td>@prod.ESTADO_ENVIO1.TEXTO_ESTADO</td>
            </tr>*@
        
    </tbody>
</table>