
@{
    ViewBag.Title = "MisPedidos";
}



<h2>@AppFunkoPop.Resources.Pedidos.misPedidos</h2>
<p>@AppFunkoPop.Resources.Pedidos.listaPedidos:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@AppFunkoPop.Resources.Pedidos.numPedido</th>
            <th>@AppFunkoPop.Resources.Pedidos.articulos</th>
            <th>@AppFunkoPop.Resources.Pedidos.precioTotal</th>
            <th>@AppFunkoPop.Resources.Pedidos.estado</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
        <tr>
            <td>@prod.PEDIDO_ID</td>
            <td>
                @Html.ActionLink("Ver pedido", "VerPedidoUnico", new { id = prod.PEDIDO_ID })
            </td>
            <td>@prod.PRECIO_TOTAL €</td>
            <td>@prod.ESTADO_ENVIO1.TEXTO_ESTADO</td>
        </tr>
        }
    </tbody>
</table>