
@{if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }


    

    ViewBag.Title = "Mis Pedidos";
}



<h2>@AppFunkoPop.Resources.Pedidos.misPedidos</h2>
<p>@AppFunkoPop.Resources.Pedidos.listaPedidos:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@AppFunkoPop.Resources.Pedidos.numPedido</th>
            <th>@AppFunkoPop.Resources.Pedidos.articulos</th>
            <th>@AppFunkoPop.Resources.Pedidos.precioTotal</th>
            <th>@AppFunkoPop.Resources.Pedidos.estado</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var prod in Model)
        {
        <tr>
            <td>@prod.PEDIDO_ID</td>
            <td>
                @Html.ActionLink("Ver pedido", "VerPedidoUnico", new { id = prod.PEDIDO_ID })
            </td>
            <td>@prod.PRECIO_TOTAL €</td>
            <td>@prod.ESTADO_ENVIO1.TEXTO_ESTADO</td>
        </tr>
        }
    </tbody>
</table>
<a href="javascript:history.go(-1)" class="btn btn-primary col-xs-2 col-sm-2 col-md-2" role="button">@AppFunkoPop.Resources.Admin.volver</a>