@model AppFunkoPop.Models.autorizar
@{
    ViewBag.Title = "Login";
}

@*<h2>Iniciar sesión</h2>
    @Html.ValidationSummary(true,"",new { @class = "text-danger" })
    @using (Html.BeginForm("IniciarSesion", "Account", FormMethod.Post))
    {
        <div>
            @Html.TextBoxFor(dl => dl.EMAIL, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(dl => dl.EMAIL, "", new { @class = "text-danger" })
        </div>

        <div>
            @Html.TextBoxFor(dl => dl.PASSWD, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(dl => dl.PASSWD, "", new { @class = "text-danger" })
        </div><br />
        <input type="submit" value="Entrar" class="btn btn-signin" />
    }*@

<div id="login-div">
    @using (Html.BeginForm("Autorizar", "Account", FormMethod.Post))
    {
        <p>
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Account.email</label>
        </p>
        <p>
            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
        </p>
        <p>
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Account.passwd</label>

        </p>
        <p>
            @Html.EditorFor(model => model.PASSWD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PASSWD)
        </p>
        
        <label> @Html.DisplayFor(model => model.LoginErrorMessage)</label>
        <input type="submit" name="entrar" value=" @AppFunkoPop.Resources.Account.entrar" class="btn btn-primary" />
        <input type="reset" name="borrar" value=" @AppFunkoPop.Resources.Account.borrar" class="btn btn-default" />
    }
</div>