@model AppFunkoPop.Models.autorizar
@{
    ViewBag.Title = "Login";
}


<br />
<br />
<div id="login-div" >
    @using (Html.BeginForm("Autorizar", "Account", FormMethod.Post))
    {
        <p>
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Account.email</label>
        </p>
        <p>
            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
        </p>
        <p>
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Account.passwd</label>

        </p>
        <p>
            @Html.EditorFor(model => model.PASSWD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PASSWD)
        </p>
        
        <label> @Html.DisplayFor(model => model.LoginErrorMessage)</label>
        <input type="submit" name="entrar" value=" @AppFunkoPop.Resources.Account.entrar" class="btn btn-primary" />
        <input type="reset" name="borrar" value=" @AppFunkoPop.Resources.Account.borrar" class="btn btn-default" />
    }
</div>