@model AppFunkoPop.Models.USUARIO
@{
    ViewBag.Title = "Login";
}

@*<h2>Iniciar sesión</h2>
    @Html.ValidationSummary(true,"",new { @class = "text-danger" })
    @using (Html.BeginForm("IniciarSesion", "Account", FormMethod.Post))
    {
        <div>
            @Html.TextBoxFor(dl => dl.EMAIL, new { @class = "form-control", @placeholder = "Email" })
            @Html.ValidationMessageFor(dl => dl.EMAIL, "", new { @class = "text-danger" })
        </div>

        <div>
            @Html.TextBoxFor(dl => dl.PASSWD, new { @class = "form-control", @placeholder = "Password" })
            @Html.ValidationMessageFor(dl => dl.PASSWD, "", new { @class = "text-danger" })
        </div><br />
        <input type="submit" value="Entrar" class="btn btn-signin" />
    }*@

<div id="login-div">
    @using (Html.BeginForm("Autorizar", "Account", FormMethod.Post))
    {
        <p>
            @AppFunkoPop.Resources.Account.email
        </p>
        <p>
            @Html.EditorFor(model => model.EMAIL)
        </p>
        <p>
            @AppFunkoPop.Resources.Account.passwd
        </p>
        <p>
            @Html.EditorFor(model => model.PASSWD)
        </p>

        <p>
            @Html.ValidationMessageFor(model => model.EMAIL)
            @Html.ValidationMessageFor(model => model.PASSWD)
        </p>
        <label> @Html.DisplayFor(model => model.LoginErrorMessage)</label>
        <input type="submit" name="entrar" value=" @AppFunkoPop.Resources.Account.entrar" />
        <input type="reset" name="borrar" value=" @AppFunkoPop.Resources.Account.borrar" />
    }
</div>