@model AppFunkoPop.Models.PRODUCTO

@{
    // hola golita
    ViewBag.Title = "NuevoProducto";
}

<h2>@AppFunkoPop.Resources.Productos.nuevo</h2>

@using (Html.BeginForm("NuevoProducto", "Producto", FormMethod.Post, new { name = "frm" }))
{

    <div class="row">
        <div class="col-md-12">
           

            <div>
                @*@Html.LabelFor(model => model.NOMBREP)*@
                <label class="control-label col-md-2"> @AppFunkoPop.Resources.Productos.nombre</label>
                @Html.EditorFor(model => model.NOMBREP, "", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBREP, null, new { @class = "red" })
            </div>
            <div>
                @*@Html.LabelFor(model => model.CATEGORIA)*@
                <label class="control-label col-md-2">@AppFunkoPop.Resources.Productos.categoria</label>
                <select name="categoria" onclick="cambiar()">
                    <option value="1">Marvel</option>
                    <option value="2">Juego de tronos</option>
                    <option value="0">Star Wars</option>

                </select>
                @*@Html.LabelFor(model => model.SUBCATEGORIA)*@
                <label class="control-label col-md-2">@AppFunkoPop.Resources.Productos.subcategoria</label>
                <select name="subcategoria">
                    <option value="-"></option>
                </select>
                @*@Html.EditorFor(model => model.CATEGORIA, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CATEGORIA, null, new { @class = "red" })*@
            </div>
            <br />
            <div>
                

            </div>
            <div>
                @*@Html.LabelFor(model => model.PRECIO)*@
                @AppFunkoPop.Resources.Productos.precio
                @Html.EditorFor(model => model.PRECIO, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PRECIO, null, new { @class = "red" })
            </div>
            <div>
                @*@Html.LabelFor(model => model.UD_DISPO)*@
                @AppFunkoPop.Resources.Productos.udDisp
                @Html.EditorFor(model => model.UD_DISPO, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UD_DISPO, null, new { @class = "red" })
            </div>
            <div>
                @*@Html.LabelFor(model => model.DESCRIP)*@
                @AppFunkoPop.Resources.Productos.descripcion
                @Html.EditorFor(model => model.DESCRIP, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DESCRIP, null, new { @class = "red" })
            </div>

            <div>
                @*@Html.LabelFor(model => model.V_ID)*@
                @AppFunkoPop.Resources.Productos.idVendedor
                @Html.EditorFor(model => model.PROVEEDOR_ID, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PROVEEDOR_ID, null, new { @class = "red" })
            </div>
            <div>
                @*@Html.LabelFor(model => model.IMAGEN)*@
                @AppFunkoPop.Resources.Productos.imagen
                @Html.EditorFor(model => model.IMAGEN, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IMAGEN, null, new { @class = "red" })
            </div>

            <div>
                @*@Html.LabelFor(model => model.LINK)*@
                @AppFunkoPop.Resources.Productos.link
                @Html.EditorFor(model => model.IMAGEN2, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IMAGEN2, null, new { @class = "red" })
            </div>
        </div>
        <br />
        <div>
            <input type="submit" value="@AppFunkoPop.Resources.Productos.añadir" class="btn btn-primary" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

   