@model AppFunkoPop.Models.PRODUCTO

@{
    // hola golita
    ViewBag.Title = "NuevoProducto";
}

<h2>@AppFunkoPop.Resources.Productos.nuevo</h2>

@using (Html.BeginForm("NuevoProducto", "Producto", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-12">

            <div>
                @*@Html.LabelFor(model => model.NOMBREP)*@
                @AppFunkoPop.Resources.Productos.nombre
                @Html.EditorFor(model => model.NOMBREP, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NOMBREP, null, new { @class = "red" })
            </div>
            <div>
                @*@Html.LabelFor(model => model.CATEGORIA)*@
                @AppFunkoPop.Resources.Productos.categoria
                @Html.EditorFor(model => model.CATEGORIA, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CATEGORIA, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(model => model.CATEGORIA_INGLES)
               
                @Html.EditorFor(model => model.CATEGORIA_INGLES, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CATEGORIA_INGLES, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(model => model.SUBCATEGORIA)
               
                @Html.EditorFor(model => model.SUBCATEGORIA, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SUBCATEGORIA, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(model => model.SUBCATEGORIA_INGLES)
              
                @Html.EditorFor(model => model.SUBCATEGORIA_INGLES, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SUBCATEGORIA_INGLES, null, new { @class = "red" })
            </div>
            <div>
                @*@Html.LabelFor(model => model.PRECIO)*@
                @AppFunkoPop.Resources.Productos.precio
                @Html.EditorFor(model => model.PRECIO, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PRECIO, null, new { @class = "red" })
            </div>
            <div>
                @*@Html.LabelFor(model => model.UD_DISPO)*@
                @AppFunkoPop.Resources.Productos.udDisp
                @Html.EditorFor(model => model.UD_DISPO, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UD_DISPO, null, new { @class = "red" })
            </div>
            <div>
                @*@Html.LabelFor(model => model.DESCRIP)*@
                @AppFunkoPop.Resources.Productos.descripcion
                @Html.EditorFor(model => model.DESCRIP, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DESCRIP, null, new { @class = "red" })
            </div>
            <div>
                @Html.LabelFor(model => model.DESCRIP_INGLES)

                @Html.EditorFor(model => model.DESCRIP_INGLES, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DESCRIP_INGLES, null, new { @class = "red" })
            </div>

            <div>
                @*@Html.LabelFor(model => model.V_ID)*@
                @AppFunkoPop.Resources.Productos.idVendedor
                @Html.EditorFor(model => model.PROVEEDOR_ID, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PROVEEDOR_ID, null, new { @class = "red" })
            </div>
            <div>
                @*@Html.LabelFor(model => model.IMAGEN)*@
                @AppFunkoPop.Resources.Productos.imagen
                @Html.EditorFor(model => model.IMAGEN, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IMAGEN, null, new { @class = "red" })
            </div>

            <div>
                @Html.LabelFor(model => model.IMAGEN2)
            
                @Html.EditorFor(model => model.IMAGEN2, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IMAGEN2, null, new { @class = "red" })
            </div>
        </div>
        <br />
        <div>
            <input type="submit" value="@AppFunkoPop.Resources.Productos.añadir" class="btn btn-primary" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}