@model AppFunkoPop.Models.PRODUCTO
@{
    if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else
    {
        if (Session["ID_ROL"].ToString() != "2")
        {
            Response.Redirect("~/Home/Index");
        }
    }
    ViewBag.Title = "Nuevo Producto";
}

<h2>@AppFunkoPop.Resources.Productos.nuevo</h2>

@using (Html.BeginForm("NuevoProducto", "Producto", FormMethod.Post, new { name = "frm" }))
{

    <div class="form-horizontal">



        <div class="form-group">
            @*@Html.LabelFor(model => model.NOMBREP, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Admin.nombre</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NOMBREP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NOMBREP, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.DESCRIP, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Admin.decripcion</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.DESCRIP, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCRIP, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CATEGORIA, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Admin.categoria</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.CATEGORIA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CATEGORIA, "", new { @class = "text-danger" })*@
                <select class="form-control" name="categoria" onclick="cambiar()" onchange="seleccionaSubcategoria()">

                    <option value="todos" selected>Todos</option>
                    <option value="marvel">Marvel</option>
                    <option value="got">Juego de tronos</option>
                    <option value="starwars">Star Wars</option>

                </select>



            </div>




        </div>


        <div class="form-group">
            @*@Html.LabelFor(model => model.CATEGORIA, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Admin.subcategoria</label>
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.SUBCATEGORIA, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SUBCATEGORIA, "", new { @class = "text-danger" })*@

                <select class="form-control" name="subcategoria">
                    <option value="todos">Todos</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.UD_DISPO, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Admin.unidadesDisp</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.UD_DISPO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UD_DISPO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.V_ID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Admin.idVendedor</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.PROVEEDOR_ID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PROVEEDOR_ID, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.IMAGEN, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Admin.imagen</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IMAGEN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IMAGEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.LINK, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2">@AppFunkoPop.Resources.Admin.otraImagen</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.IMAGEN2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IMAGEN2, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div>
            <input type="submit" value="@AppFunkoPop.Resources.Productos.añadir" class="btn btn-primary" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

