@model IList<AppFunkoPop.Models.ProductoUnidades>
@{
    ViewBag.Title = @AppFunkoPop.Resources.Carrito.miCarrito;
    decimal suma = 0;
}



<h2>@AppFunkoPop.Resources.Carrito.listadoProductos</h2>
<p>@AppFunkoPop.Resources.Carrito.presentacionListado:</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@AppFunkoPop.Resources.Carrito.imagen</th>
            <th>@AppFunkoPop.Resources.Carrito.nombre</th>
            <th>@AppFunkoPop.Resources.Carrito.unidades</th>
            <th>@AppFunkoPop.Resources.Carrito.unidadesDisponibles</th>
            <th>@AppFunkoPop.Resources.Carrito.borrarUnidad</th>
            <th>@AppFunkoPop.Resources.Carrito.añadirUnidad</th>
            <th>@AppFunkoPop.Resources.Carrito.borrarProducto</th>
            <th>@AppFunkoPop.Resources.Carrito.precioUnidad</th>
            <th>@AppFunkoPop.Resources.Carrito.precio </th>
            <th>@AppFunkoPop.Resources.Carrito.precioTotal</th>

        </tr>
    </thead>
    <tbody>




        @foreach (var prod in Model)
        {

            <tr>


                <td><a href="~/Producto/Productos/@prod.PRODUCTO_ID"><img src="~/Content/images/@prod.CATEGORIA/@prod.IMAGEN" style="height: 50px; "></a></td>
                <td>@prod.NOMBRE</td>
                <td>@prod.Unidades</td>
                <td>@prod.UD_DISPO</td>
                <td>@Html.ActionLink("Borrar una unidad", "Eliminar1ProductoCarrito", new { id = prod.PRODUCTO_ID })</td>
                <td>@Html.ActionLink("Añadir una unidad", "Añadir1ProductoCarrito", new { id = prod.PRODUCTO_ID })</td>
                <td>@Html.ActionLink("Borrar producto", "EliminarProductoCarrito", new { id = prod.PRODUCTO_ID })</td>
                <td>@prod.PRECIOUnidad €</td>
                <td>@prod.PRECIO €</td>
                @{
                    suma = suma + @prod.PRECIO;
                }

            </tr>
        }
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@suma €</td>
        </tr>
    </tbody>


</table>
@using (Html.BeginForm("RealizarPedido", "Pedidos", FormMethod.Post))
{




    int i = 0;
    foreach (var item in Model)
    {
        @Html.Hidden("[" + i + "].CATEGORIA", item.CATEGORIA, new { @id = "[" + i + "].CATEGORIA" })
        @Html.Hidden("[" + i + "].IMAGEN", item.IMAGEN, new { @id = "[" + i + "].IMAGEN" })
        @Html.Hidden("[" + i + "].PRODUCTO_ID", item.PRODUCTO_ID, new { @id = "[" + i + "].PRODUCTO_ID" })
        @Html.Hidden("[" + i + "].PRECIO", item.PRECIO, new { @id = "[" + i + "].PRECIO" })
        @Html.Hidden("[" + i + "].PRECIOUnidad", item.PRECIOUnidad, new { @id = "[" + i + "].PRECIOUnidad" })
        @Html.Hidden("[" + i + "].UD_DISPO", item.UD_DISPO, new { @id = "[" + i + "].UD_DISPO" })
        @Html.Hidden("[" + i + "].Unidades", item.Unidades, new { @id = "[" + i + "].Unidades" })
        i++;
    }

    <input type="submit" name="entrar" value="Realizar pedido" />
    @Html.ActionLink(@AppFunkoPop.Resources.Carrito.vaciarCarrito, "VaciarCarrito", "Carrito")
    <a href="javascript:history.go(-1)" class="btn btn-primary col-xs-2 col-sm-2 col-md-2" role="button">Back</a>
}
