@model AppFunkoPop.Models.USUARIO
@{
    if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

    ViewBag.Title = "GestionDatos";
}



<h2 style="padding-left:100px;">@AppFunkoPop.Resources.Usuarios.gestionarMisDatos</h2>




<div>


    <div class="row" style="padding-bottom: 15px; padding-left:100px;">
        <div class="col-sm-9">

            <h4>@AppFunkoPop.Resources.Usuarios.nuevaCuenta</h4>
            <hr />
            @using (Html.BeginForm("ActualizarUsuario", "Account", FormMethod.Post))
            {
                <p>
                    @*@Html.LabelFor(model => model.NOMBRE)*@

                    <label class="control-label col-md-2"> @AppFunkoPop.Resources.Usuarios.nombre</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })

                </p>
                <p>
                    @*@Html.LabelFor(model => model.APELLIDOS)*@
                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.apellidos</label>

                </p>
                <p>
                    @Html.EditorFor(model => model.APELLIDOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.APELLIDOS, "", new { @class = "text-danger" })

                </p>

                <p>
                    @*@Html.LabelFor(model => model.DIRECCION)*@

                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.direccion</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })

                </p>
                <p>
                    @*@Html.LabelFor(model => model.TLFN)*@

                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.telefono </label>
                </p>
                <p>
                    @Html.EditorFor(model => model.TLFN, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.TLFN, "", new { @class = "text-danger" })


                </p>
                <p>
                    @*@Html.LabelFor(model => model.CIUDAD)*@

                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.ciudad</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.CIUDAD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CIUDAD, "", new { @class = "text-danger" })

                </p>
                <p>
                    @*@Html.LabelFor(model => model.PAIS)*@

                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.pais</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.PAIS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PAIS, "", new { @class = "text-danger" })
                </p>
                <p>
                    @*@Html.LabelFor(model => model.CP)*@

                    <label class="control-label col-md-2"> @AppFunkoPop.Resources.Usuarios.codigoPostal</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.CP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CP, "", new { @class = "text-danger" })
                </p>

                <label> @Html.DisplayFor(model => model.LoginErrorMessage)</label>
                <input type="submit" name="entrar" value="@AppFunkoPop.Resources.Usuarios.entrar" class="btn btn-primary" />
                <input type="reset" name="borrar" value="@AppFunkoPop.Resources.Usuarios.borrar" class="btn btn-default" />
            }
            <a href="javascript:history.go(-1)" class="btn btn-primary col-xs-2 col-sm-2 col-md-2" role="button">Back</a>
            <!--
    <form action="CrearUsuario" method="post">
        <label>Nombre: <input type="text" name="nombre" value="" /></label></br>
        <label>Apellidos: <input type="text" name="apellidos" value="" /></label></br>
        <label>Email: <input type="text" name="email" value="" /></label></br>
        <label>Password: <input type="text" name="passwd" value="" /></label></br>
        <label>Teléfono: <input type="text" name="telefono" value="" /></label></br>
        <label>Dirección: <input type="text" name="direccion" value="" /></label></br>
        <label>Ciudad: <input type="text" name="ciudad" value="" /></label></br>
        <label>País: <input type="text" name="pais" value="" /></label></br>
        <label>Codigo Postal: <input type="text" name="cp" value="" /></label></br>

        <input type="submit" name="enviar" value="enviar" />

    </form>-->
            @Html.ValidationSummary()

        </div>
    </div>
</div>