@model AppFunkoPop.Models.USUARIO
@{
    if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

    ViewBag.Title = "GestionDatos";
}



<h2 style="padding-left:100px;">@AppFunkoPop.Resources.Usuarios.gestionarMisDatos</h2>




<div>


    <div class="row" style="padding-bottom: 15px; padding-left:100px;">
        <div class="col-sm-9">

            <h4>@AppFunkoPop.Resources.Usuarios.nuevaCuenta</h4>
            <hr />
            @using (Html.BeginForm("ActualizarUsuario", "Account", FormMethod.Post))
            {
            <p>
                @*@Html.LabelFor(model => model.NOMBRE)*@
                @AppFunkoPop.Resources.Usuarios.nombre
            </p>
                <p>
                    @Html.TextBoxFor(model => model.NOMBRE)
                    
                </p>
                <p>
                    @*@Html.LabelFor(model => model.APELLIDOS)*@
                    @AppFunkoPop.Resources.Usuarios.apellidos
                </p>
                <p>
                    @Html.EditorFor(model => model.APELLIDOS)
                </p>
             
                <p>
                    @*@Html.LabelFor(model => model.DIRECCION)*@
                    @AppFunkoPop.Resources.Usuarios.direccion
                </p>
                <p>
                    @Html.EditorFor(model => model.DIRECCION)
                </p>
                <p>
                    @*@Html.LabelFor(model => model.TLFN)*@
                    @AppFunkoPop.Resources.Usuarios.telefono
                </p>
                <p>
                    @Html.EditorFor(model => model.TLFN)
                </p>
                <p>
                    @*@Html.LabelFor(model => model.CIUDAD)*@
                    @AppFunkoPop.Resources.Usuarios.ciudad
                </p>
                <p>
                    @Html.EditorFor(model => model.CIUDAD)
                </p>
                <p>
                    @*@Html.LabelFor(model => model.PAIS)*@
                    @AppFunkoPop.Resources.Usuarios.pais
                </p>
                <p>
                    @Html.EditorFor(model => model.PAIS)
                </p>
                <p>
                    @*@Html.LabelFor(model => model.CP)*@
                    @AppFunkoPop.Resources.Usuarios.codigoPostal
                </p>
                <p>
                    @Html.EditorFor(model => model.CP)
                </p>


                <p>
                    @Html.ValidationMessageFor(model => model.NOMBRE)
                    @Html.ValidationMessageFor(model => model.APELLIDOS)
                    @Html.ValidationMessageFor(model => model.EMAIL)
                    @Html.ValidationMessageFor(model => model.PASSWD)
                    @Html.ValidationMessageFor(model => model.TLFN)
                    @Html.ValidationMessageFor(model => model.DIRECCION)
                    @Html.ValidationMessageFor(model => model.CIUDAD)
                    @Html.ValidationMessageFor(model => model.PAIS)
                    @Html.ValidationMessageFor(model => model.CP)

                </p>
                <label> @Html.DisplayFor(model => model.LoginErrorMessage)</label>
                <input type="submit" name="entrar" value="@AppFunkoPop.Resources.Usuarios.entrar" />
                <input type="reset" name="borrar" value="@AppFunkoPop.Resources.Usuarios.borrar" />
            }

            <!--
            <form action="CrearUsuario" method="post">
                <label>Nombre: <input type="text" name="nombre" value="" /></label></br>
                <label>Apellidos: <input type="text" name="apellidos" value="" /></label></br>
                <label>Email: <input type="text" name="email" value="" /></label></br>
                <label>Password: <input type="text" name="passwd" value="" /></label></br>
                <label>Teléfono: <input type="text" name="telefono" value="" /></label></br>
                <label>Dirección: <input type="text" name="direccion" value="" /></label></br>
                <label>Ciudad: <input type="text" name="ciudad" value="" /></label></br>
                <label>País: <input type="text" name="pais" value="" /></label></br>
                <label>Codigo Postal: <input type="text" name="cp" value="" /></label></br>

                <input type="submit" name="enviar" value="enviar" />

            </form>-->
            @Html.ValidationSummary()

        </div>
    </div>
</div>