@model AppFunkoPop.Models.USUARIO
@{
    if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

    ViewBag.Title = "Gestion Datos";
}



<h2 style="padding-left:100px;">@AppFunkoPop.Resources.Usuarios.gestionarMisDatos</h2>




<div>


    <div class="row" style="padding-bottom: 15px; padding-left:100px;">
        <div class="col-sm-9">

            <h4>@AppFunkoPop.Resources.Usuarios.nuevaCuenta</h4>
            <hr />
            @using (Html.BeginForm("ActualizarUsuario", "Account", FormMethod.Post))
            {
                <p>
          

                    <label class="control-label col-md-2"> @AppFunkoPop.Resources.Usuarios.nombre</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NOMBRE, "", new { @class = "text-danger" })

                </p>
                <p>
                 
                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.apellidos</label>

                </p>
                <p>
                    @Html.EditorFor(model => model.APELLIDOS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.APELLIDOS, "", new { @class = "text-danger" })

                </p>

                <p>
                

                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.direccion</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.DIRECCION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })

                </p>
                <p>
               

                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.telefono </label>
                </p>
                <p>
                    @Html.EditorFor(model => model.TLFN, new { htmlAttributes = new { @class = "form-control" } })

                    @Html.ValidationMessageFor(model => model.TLFN, "", new { @class = "text-danger" })


                </p>
                <p>
                 

                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.ciudad</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.CIUDAD, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CIUDAD, "", new { @class = "text-danger" })

                </p>
                <p>
             
                    <label class="control-label col-md-2">@AppFunkoPop.Resources.Usuarios.pais</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.PAIS, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PAIS, "", new { @class = "text-danger" })
                </p>
                <p>
                  

                    <label class="control-label col-md-2"> @AppFunkoPop.Resources.Usuarios.codigoPostal</label>
                </p>
                <p>
                    @Html.EditorFor(model => model.CP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CP, "", new { @class = "text-danger" })
                </p>

                <label> @Html.DisplayFor(model => model.LoginErrorMessage)</label>
                <input type="submit" name="entrar" value="@AppFunkoPop.Resources.Usuarios.entrar" class="btn btn-primary" />
                <input type="reset" name="borrar" value="@AppFunkoPop.Resources.Usuarios.borrar" class="btn btn-default" />
            }
            <a href="javascript:history.go(-1)" class="btn btn-primary col-xs-2 col-sm-2 col-md-2" role="button">@AppFunkoPop.Resources.Admin.volver</a>
            
            @Html.ValidationSummary()

        </div>
    </div>
</div>