@{
    if (Session["ID_ROL"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else
    {
        if (Session["ID_ROL"].ToString() != "1")
        {
            Response.Redirect("~/Home/Index");
        }
    }


    ViewBag.Title = "Panel De Control Usuarios";
}

<h2> @AppFunkoPop.Resources.Usuarios.panelControlUsuarios</h2>

<p> @AppFunkoPop.Resources.Usuarios.queQuieresHacer:</p>

<ul class="">
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Usuarios.gestionarMisDatos, "GestionDatos", "Usuarios")</li>
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Usuarios.cambiarContrasena, "CambiarContraseña", "Usuarios")</li>
    <li>@Html.ActionLink(@AppFunkoPop.Resources.Usuarios.misPedidos, "MisPedidos", "Pedidos")</li>

    <li>@Html.ActionLink(@AppFunkoPop.Resources.Usuarios.miCarrito, "InicioCarrito", "Carrito")</li>


</ul>
<a href="javascript:history.go(-1)" class="btn btn-primary col-xs-2 col-sm-2 col-md-2" role="button">@AppFunkoPop.Resources.Admin.volver</a>
