@model IEnumerable<AppFunkoPop.Models.PRODUCTO>

<h2>@AppFunkoPop.Resources.Catalogo.catalogo</h2>


<div class="row">
    <form action="Catalogo" method="post" name="frm">

        
            <div class=" col-sm-6 ">
                @*@Html.LabelFor(model => model.CATEGORIA)*@
                <label >@AppFunkoPop.Resources.Productos.categoria</label>
                <select name="categoria" onclick="cambiar()">
                    <option value="1">Marvel</option>
                    <option value="2">Juego de tronos</option>
                    <option value="0">Star Wars</option>
                
                </select>
                @*@Html.LabelFor(model => model.SUBCATEGORIA)*@
                <label> @AppFunkoPop.Resources.Productos.subcategoria </label>
                <select name="subcategoria">
                    <option value="-"></option>
                </select>
                @*@Html.EditorFor(model => model.CATEGORIA, "", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CATEGORIA, null, new { @class = "red" })*@
            </div>
        <button type="submit" class="btn btn-default">@AppFunkoPop.Resources.Catalogo.filtrar</button>
    </form>
</div>


<hr />
<div class="row">

    @foreach (var prod in Model)
    {



        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Content/images/@prod.CATEGORIA/@prod.IMAGEN" style= "height: 250px; "/>
                <div class="caption">
                    <h3>@prod.NOMBREP</h3>
                    <p>...</p>
                    <p>
                        <a href="~/Producto/Productos/@prod.PRODUCTO_ID" class="btn btn-primary" role="button">Botón</a>
                        <a href="#" class="btn btn-default" role="button">Botón</a>
                    </p>
                </div>
            </div>
        </div>


    }
</div>

<div class="row">
    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="javascript:void(0);">@AppFunkoPop.Resources.Catalogo.anterior</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">@AppFunkoPop.Resources.Catalogo.siguiente</a></li>
    </ul>
</div>


