@model IEnumerable<AppFunkoPop.Models.PRODUCTO>
@{ 
    var texto = "";
    HttpCookie cookie = HttpContext.Current.Request.Cookies["Language"];
    string x = "";
    string traduccion = "";
    if (cookie != null)
    {
        x = cookie.Value;
    }
}
<h2>@AppFunkoPop.Resources.Catalogo.catalogo</h2>


<div class="row">
    <form action="Catalogo" method="post" name="frm">


        <div class=" col-sm-12 ">
            @*@Html.LabelFor(model => model.CATEGORIA)*@
            <div class="col-sm-6">
                <label >@AppFunkoPop.Resources.Productos.categoria</label>
                <br />
                <select name="categoria" onclick="cambiar()" class = "form-control">
                    <option value="todos">Todos</option>
                    <option value="marvel">Marvel</option>
                    <option value="got">Juego de tronos</option>
                    <option value="starwars">Star Wars</option>

                </select>
                <div style="padding-left:350px">
                    <button type="submit" class="btn btn-default">@AppFunkoPop.Resources.Catalogo.filtrar</button>
                </div>
                @*@Html.LabelFor(model => model.SUBCATEGORIA)*@
               
                    <label > @AppFunkoPop.Resources.Productos.subcategoria </label>
                   <br />
                    <select name="subcategoria" class = "form-control">
                        <option value="todos">Todos</option>
                    </select>
                </div>
                @*@Html.EditorFor(model => model.CATEGORIA, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CATEGORIA, null, new { @class = "red" })*@
            </div>
        @*<row>
            Aqui iba el boton de filtar
        </row>*@
</form>
</div>


<hr />
<div class="row">

    @foreach (var prod in Model)
    {



        <div class="col-sm-6 col-md-3" >
            <div class="thumbnail"  style="max-height:542px; min-height:500px;" >
                <img src="~/Content/images/@prod.CATEGORIA/@prod.IMAGEN" style= "height: 250px; "/>
                <div class="caption">
                    <h3 style="text-align:center; font-variant:small-caps; font-weight:bold" ;>@prod.NOMBREP</h3>

                    @if (x == "" || x == "es")
                    {
                        if (prod.DESCRIP.Length > 42)
                        {
                            texto = prod.DESCRIP;
                            texto = texto.Remove(42);
                            texto = texto + "...";

                        }
                        else
                        {
                            texto = prod.DESCRIP;
                        }
                    }
                    else
                    {
                        if (prod.DESCRIP_INGLES.Length > 42)
                        {
                            texto = prod.DESCRIP_INGLES;
                            texto = texto.Remove(42);
                            texto = texto + "...";

                        }
                        else
                        {
                            texto = prod.DESCRIP_INGLES;
                        }
                    }



                    <p>@AppFunkoPop.Resources.Productos.descripcion: @texto </p>
                    <p>@AppFunkoPop.Resources.Productos.udDisp: @prod.UD_DISPO</p>
                    <p>  @AppFunkoPop.Resources.Productos.precio: @prod.PRECIO €</p>
                    <p>
                        <a href="~/Producto/Productos/@prod.PRODUCTO_ID" class="btn btn-primary col-xs-5 col-sm-5 col-md-5" role="button">@AppFunkoPop.Resources.Productos.mirar</a>
                        <div class=" col-xs-2 col-sm-2 col-md-2"></div>
                        @using (Html.BeginForm("RecogerIdEnviarProducto", "Carrito", FormMethod.Post))
                        {
                            <div style='display: none'>

                                @Html.TextBox("id", ViewBag.Num1 as string, new { @Value = prod.PRODUCTO_ID })
                                @Html.TextBox("unidades", ViewBag.Num1 as string, new { @Value = "1" })
                            </div>

                            <button type="submit" class="btn btn-default col-xs-5 col-sm-5 col-md-5">@AppFunkoPop.Resources.Productos.añadirCarrito</button>
                        }



                    </p>
                </div>
            </div>
        </div>


    }
</div>

@*<div class="row">
    <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="javascript:void(0);">@AppFunkoPop.Resources.Catalogo.anterior</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
        <li class="page-item"><a class="page-link" href="javascript:void(0);">@AppFunkoPop.Resources.Catalogo.siguiente</a></li>
    </ul>
</div>*@


